:root{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px;
    
    --nav:#a502c5;
    --white: #ffffff;
    --black:black;
    --background: #a502c525;
    --navback:#4c005c;
}

body{
    margin: 0px;
}

/* navigation  */
/* ***************************************************************** */

.logo a{
    color:var(--white);
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--nav);
    font-family: "Poppins", sans-serif;
}

.logo {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-size: 1.6rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1350px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--navback);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* contact div  */
/* ***************************************************************** */
.contact{
    margin: 1%;
    margin-top: 10vh;
    /* background-color: rgb(227, 234, 255); */
    border-radius:15px;
    min-height: 80vh;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0px;
}

h2{
    margin: auto;
    margin-left: 0px;
    padding-left: 15px;
    font-size: 1.7rem;
}

.panes{
    padding: 2%;
    margin-top: 0px;
    background-color: var(--background);
    border-radius: 5px;
}

.image{
    width: 50px;
}

.pane1{
    display: flex;
}

.pane2{
    display: flex;
}

.pane3{
    display: flex;
}

p{
    font-size: 2rem;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 0px;
}

a{
    color: var(--black);
}

