 /* xxxx     notes     xxxx */
 /* use this to select the bannet h1 
do change the name of the id first 
#mplaces div div h1 a{
    text-decoration: none;
    color: black;
} */



/* genral */
/* ***************************************************************** */

:root{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: rgb(238, 201, 196);
}

.hprimary{
    text-decoration: none;
    text-align:center;
    font-size: 4.5rem;
} 
.hsecondary{
    text-decoration: none;
    text-align: center;
}

.pprimary{
    text-decoration: none;
    text-align: center;
}
.psecondary{
    text-decoration: none;
    text-align: justify;
    font-size: 1.4rem;
}

.pfooter{
    text-align: center;
}

@media screen and (max-width:720px){
    .hprimary{
        text-decoration: none;
        text-align:center;
        font-size: 3rem;
    } 
    .pprimary{
        font-size: 0.8rem;
    }


}
@media screen and (max-width:500px){
    .hprimary{
        text-decoration: none;
        text-align:center;
        font-size: 3rem;
    } 
    .pprimary{
        font-size: 0.7rem;
    }
}

/* navigation  */
/* ***************************************************************** */
#navbar{
    display : flex;
    position: sticky ;
    top:0px;
    margin:0px;
    padding: 0px;
    border: 0px;
}

#navbar::before{
    content: "";
    background-color: rgb(150, 150, 150);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 1;
}

#logo{
    margin: 10px 10px;
}

#logo img{
    height: 50px;
    width:55px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

#navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;

}

#navbar ul li{
    list-style: none ;
    margin-left: 8px;
    margin-right : 8px;
    margin-top : 0px;
    margin-bottom : 0px;
    
}

#navbar ul li a{
    padding-left: 10px;
    padding-right: 10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    /* color: black; */
    border-radius: 10px;
    font-size: 1.7rem;
    margin-left: 10px;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

@media screen and (max-width:720px){
    #logo{
        display: none;
    }
    
    #navbar ul li a{
        padding-left: 10px;
        padding-right: 10px;
        color:rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        /* color: black; */
        border-radius: 10px;
        font-size: 2rem;
        margin-left: 8pxpx;
        font-size: 1.4rem ;
        
    }

    #navbar ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0px;
        margin: 0px;
        justify-content:space-evenly;
    
    }

    #feedback{
        display: none;
    }
    

}

@media screen and (max-width:1048px){
    #navbar ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0px;
        padding-right: 0px;
        margin:0px;
    }

}
/* about */
/* ***************************************************************** */
.about{
    padding-top: 10%;
    padding-bottom: 10%;    
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../images/indisplay/tinified/98046-Elephanta-Caves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 50s infinite linear;
}

@keyframes slider{
    10%{ background-image:url(../images/indisplay/tinified/Dugarwadi.jpg) }
    15%{ background-image:url(../images/indisplay/tinified/Dugarwadi.jpg) }
    20%{ background-image:url(../images/indisplay/tinified/Fi-16.png) }
    25%{ background-image:url(../images/indisplay/tinified/Fi-16.png) }
    30%{ background-image:url(../images/indisplay/tinified/IMG_20191117_191601.jpg) }
    35%{ background-image:url(../images/indisplay/tinified/IMG_20191117_191601.jpg) }
    40%{ background-image:url(../images/indisplay/tinified/IMG_20191206_173253.jpg) }
    45%{ background-image:url(../images/indisplay/tinified/IMG_20191206_173253.jpg) }
    50%{ background-image:url(../images/indisplay/tinified/IMG_20191213_141101.jpg) }
    55%{ background-image:url(../images/indisplay/tinified/IMG_20191213_141101.jpg) }
    60%{ background-image:url(../images/indisplay/tinified/IMG_20200605_123934_HDR.jpg) }
    65%{ background-image:url(../images/indisplay/tinified/IMG_20200605_123934_HDR.jpg) }
    70%{ background-image:url(../images/indisplay/tinified/kailas-temple-ellora-caves-complex-maharashtra-1920x1080.jpg) }
    75%{ background-image:url(../images/indisplay/tinified/kailas-temple-ellora-caves-complex-maharashtra-1920x1080.jpg) }
    80%{ background-image:url(../images/indisplay/tinified/Lonavala-destinations-private-jet-1366x768.jpg) }
    85%{ background-image:url(../images/indisplay/tinified/Lonavala-destinations-private-jet-1366x768.jpg) }
    90%{ background-image:url(../images/indisplay/tinified/Sunset_at_Khadakwasla_dam_pune_20190116141712.jpg) }
    95%{ background-image:url(../images/indisplay/tinified/Sunset_at_Khadakwasla_dam_pune_20190116141712.jpg) }
}

#wel{
    padding-top: 0px;
}

.intro{
    font-size: 1.6rem;
    display: inline;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
    margin-left: 50%;
    font-size: 2.2rem;
}

@media screen and (max-width:550px){
    .about{
        animation: none;
        background: none;
    }
    .intro{
        margin-left: 0px;
    }
}

/* place banner  */
#about{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
}

.st{
    display: inline;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
}

@media screen and (max-width:800){
    .about{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .intro{
        margin-left: 30%;
    }
}

/* banner spot for places  */
/* ***************************************************************** */
#places a{
    text-decoration: none;
    color: black;
}
#choose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;

}
.name{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;

}
.pimage{
    align-items: center;
}  

/* Mumbai spot and banners */
/* ***************************************************************** */
#mumbai div a {
    text-decoration: none;
    color: black;
}
#mchoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.mumbai{
    padding-top: 50px;
    padding-bottom: 200px;
}

.mname{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.mimage{
    align-items: center;
}  

@media screen and (max-width:720px){
    .mumbai{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
/* pune spot and banners */
/* ***************************************************************** */
#pune div a{
    text-decoration: none;
    color: black;
}

#pchoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.pune{
    padding-top: 50px;
    padding-bottom: 200px;
}

.pnname{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.pnimage{
    align-items: center;
} 

@media screen and (max-width:720px){
    .pune{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* nasik  spot and banners */
/* ***************************************************************** */
.nasik{
    display: flex;
    flex-direction: column;
}
#nasik div a{
    text-decoration: none;
    color: black;
}

#nchoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.nasik{
    padding-top: 50px;
    padding-bottom: 200px;
}

.nkname{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.nkimage{
    align-items: center;
} 

@media screen and (max-width:720px){
    .nasik{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* ajanta ellora  spot and banners */
/* ***************************************************************** */
.ajanta{
    display: flex;
    flex-direction: column;
}
#ajanta div a{
    text-decoration: none;
    color: black;
}

#aechoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.ajanta{
    padding-top: 50px;
    padding-bottom: 200px;
}

.aename{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.aeimage{
    align-items: center;
} 

@media screen and (max-width:720px){
    .ajanta{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* lonavala  spot and banners */
/* ***************************************************************** */
.lonavala{
    display: flex;
    flex-direction: column;
}
#lonavala div a{
    text-decoration: none;
    color: black;
}

#lachoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.lonavala{
    padding-top: 50px;
    padding-bottom: 200px;
}

.laname{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.laimage{
    align-items: center;
} 

@media screen and (max-width:720px){
    .lonavala{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


/* footer */
/* ***************************************************************** */

.npad{
    margin:0px;
    padding:0px;
    padding-left: 8%;
    padding-right: 8%;
}

#footer p a{
    text-decoration: none;
    color: black;
}

#footer{
    align-content: center;
    align-content: justify;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color:  rgb(180, 180, 180);
}
#footer div p a{
    padding:4%;
}

.footer{
    padding-top: 2%;
    padding-bottom: 2%;
}
.ptert{
    font-size: 1.3rem;
}