 /* xxxx     notes     xxxx */
 /* use this to select the bannet h1 
do change the name of the id first 
#mplaces div div h1 a{
    text-decoration: none;
    color: black;
} */



/* genral */
/* ***************************************************************** */

:root{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
}

.hprimary{
    text-decoration: none;
    text-align:center;
    font-size: 4.5rem;
} 
.hsecondary{
    text-decoration: none;
    text-align: center;
}

.pprimary{
    text-decoration: none;
    text-align: center;
}
.psecondary{
    text-decoration: none;
    text-align: justify;
}

.pfooter{
    text-align: center;
}

/* navigation  */
/* ***************************************************************** */
#navbar{
    display : flex;
    position: sticky;
    top:0px;
    margin:0px;
    padding: 0px;
    border: 0px;
}

#navbar::before{
    content: "";
    background-color: rgb(150, 150, 150);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 1;
}

#logo{
    margin: 10px 10px;
}

#logo img{
    height: 50px;
    width:55px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

#navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;

}

#navbar ul li{
    list-style: none ;
    margin-left: 8px;
    margin-right : 8px;
    margin-top : 0px;
    margin-bottom : 0px;
    
}

#navbar ul li a{
    padding-left: 10px;
    padding-right: 10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    /* color: black; */
    border-radius: 10px;
    font-size: 1.7rem;
    margin-left: 10px;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* about */
/* ***************************************************************** */
.about{
    padding-top: 50px;
    padding-bottom: 0px;
    height: 450px;
}

#wel{
    padding-top: 110x;
    height: 100px;
}

/* place banner  */
#about{
    display: flex;
    flex-direction: column ;
}

.intro{
    font-size: 1.6rem;
    margin: 0px;
}

/* banner spot for places  */
/* ***************************************************************** */
#mplaces div div h1 a{
    text-decoration: none;
    color: black;
}
#choose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;

}
.name{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.pimage{
    align-items: center;
}  

/* Mumbai spot and banners */
/* ***************************************************************** */

#mchoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.mumbai{
    padding-top: 50px;
    padding-bottom: 200px;
}

.mname{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mimage{
    align-items: center;
}  
/* pune spot and banners */
/* ***************************************************************** */

#pchoose{
    display :flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-content: space-evenly;
}

.pune{
    padding-top: 50px;
    padding-bottom: 200px;
}

.pname{
    margin: auto;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mimage{
    align-items: center;
}  

/* footer */
/* ***************************************************************** */

#footer{
    align-content: center;
    align-content: justify;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color:  rgb(204, 204, 226);
}