
/* use r1 , r2, r24, r3 for the font sizing  */
/* use bmn, tmn, rmn, lmn for the removing respective margin*/


/* genral  */
/* ***************************************************************** */
:root{
    border:0px;
    margin: 0px;
    font-family: 'Baloo Bhai 2', cursive;
    --nav:#a502c5;
    --white: #ffffff;
    --background: #a502c511;
    --linkbackground: #4c005c;
    --black: rgb(0, 0, 0);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
}

.bmn{
    margin-bottom: 0px;
}

.tmn{
    margin-top: 0px;
}

.lmn{
    margin-left: 0px;
}

.rmn{
    margin-right: 0px;
}
html{
    scroll-behavior: smooth;
}

.r1{
    font-size: 1.5rem;
}

.r2{
    font-size: 2rem;
}
.r24{
    font-size: 2.4rem;
}

.r3{
    font-size: 3rem;
}

iframe{
    border-radius: 15px;
    border: 3px solid var(--black);
}

/* navigation  */
/* ***************************************************************** */

.logo a{
    color: var(--white);
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--nav);
    font-family: "Poppins", sans-serif;
}

.logo {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-size: 1.6rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1350px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--linkbackground);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* contents  */
/* ***************************************************************** */

.pane{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 8vh;
}

.map{
    width: 95%;
    height: 500px;
    background-color: var(--white);
}

#imga{
    display: flex;
    background-position: center;
    height: 500px;;
    width: 95%;
    margin-right: 10%;
    margin-left: 10%;
    background-image: url(../images/sinhagad_fort/sf1.jpg);
    background-repeat: no-repeat;
    background-size:auto 100%;
    animation: slider 15s infinite ease-in;
}

@keyframes slider{
    20%{ background-image: url(../images/sinhagad_fort/sf1.jpg);}
    25%{ background-image: url(../images/sinhagad_fort/sf2.jpg);}
    45%{ background-image: url(../images/sinhagad_fort/sf2.jpg);}
    50%{ background-image: url(../images/sinhagad_fort/sf3.jpg);}
    70%{ background-image: url(../images/sinhagad_fort/sf3.jpg);}
    75%{ background-image: url(../images/sinhagad_fort/sw5.jpg);}
    95%{ background-image: url(../images/sinhagad_fort/sw5.jpg);}

}
#imgb{
    display: flex;
    background-position: center;
    height: 500px;;
    width: 95%;
    margin-right: 10%;
    margin-left: 10%;
    background-image: url(../images/pune_okayama_friendship_garden/p1.jpg);
    background-repeat: no-repeat;
    background-size:auto 100%;
    animation: slider2 15s infinite ease-in;
}

@keyframes slider2{
    20%{ background-image: url(../images/pune_okayama_friendship_garden/p1.jpg);}
    25%{ background-image: url(../images/pune_okayama_friendship_garden/p2.jpg);}
    45%{ background-image: url(../images/pune_okayama_friendship_garden/p2.jpg);}
    50%{ background-image: url(../images/pune_okayama_friendship_garden/p3.jpg);}
    70%{ background-image: url(../images/pune_okayama_friendship_garden/p3.jpg);}
    75%{ background-image: url(../images/pune_okayama_friendship_garden/p4.jpg);}
    95%{ background-image: url(../images/pune_okayama_friendship_garden/p4.jpg);}

}


/* reachablity  */
/* ***************************************************************** */
.reach{
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--white);
    border-top: 4px solid var(--nav);
    margin: 3%;
    padding: 2%;
}

table{
    width: 350px;
}


/* hotel  */
/* ***************************************************************** */
#hotelp{
    margin-top: 10px;
    padding-left:3% ;
    display: flex;
    flex-direction: column;
    width: 93%;
    border-radius: 0px 0px 15px 15px;
    border-top:4px solid var(--nav);
    background-color: var(--white);
}

.hotph{
    margin: auto ;

}

.hotpn{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.hotpn li{
    list-style: none;
    /* border: 2px solid black ; */
    background-color: var(--background);
    border-radius: 0px 10px 0px 10px;
    margin-top: 15px;
    border-top: 2px solid var(--nav);
}

a{
    text-decoration: none;
    color: black;
}

/* footer */
#footer{
    background-color: var(--white);
    border-radius: 0px 0px 10px 10px;
    border-top: 4px solid var(--nav);
    padding:2%;
    margin:2%;
}
.fof{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sm{
    margin: 10px;
    padding-left: 2%;
}
.sm img{
    width: 30px;
}
.nm{
    margin: none;
}


/* other places  */
/* ******************************************************************* */
.otherplaces{
    width: 100%;
}

.pn{
    padding:0px;
}

.otherplaces ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

.other{
    background-color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.other:hover{
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid var(--nav) ;
}

.present{
    background-color: var(--white);
    border-bottom: 3px solid var(--nav) ;

}

/* mobile optimisation */
/* ******************************************************************* */
@media screen and (max-width:600px){
    /* genral */
    .r1{
        font-size: 1rem;
    }

    .r2{
        font-size: 1.7rem;
    }
    .r24{
        font-size: 2rem;
    }
    .r3{
        font-size: 2.4rem;
        margin: 0px;
        padding: 0px;
    }
    .hotpn{
        width: 300px;
        padding-left: 0px;
    }
    table{
        width: 250px;
    }
}